@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

body{
    background-attachment: fixed;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1650393771173-73b07d3fe9f2?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.princ{
  background-color: rgb(193, 161, 119);
}

.linea{
  background-color: white;
  height: 1px;
  margin-top: 12px;
}

.lineafine{
  background-color: white;
  height: 1px;
  margin-top: 15px;
}

textarea{
  background-color: burlywood;
}

.lineab{
  background-color: black;
  height: 1px;
  margin-top: 11px;
}
.lineabfine{
  background-color: black;
  height: 1px;
  margin-top: 22px;
}

main h2 {
  font-family: "Lexend Deca", sans-serif;
  font-size: 20px;
}

main p {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


header{
  background-color: white;
  width: 25%;
  text-align: center;
  flex: 1;
  margin: 1em;
  border-radius: 8px;
  
}

main{
  position: absolute;
  left: 13%;
  margin-top: 70px;
  height: 380px;
  width: 400px;
  padding: 1.5em;
  position: relative;
  text-align: center;
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  border-radius: 8px;
  margin-left: -10px;
}

main, .month-indicator{
  padding-top: 0%;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
    display: flex;
    flex-direction: row; /* Stack on mobile */
    width: 100%;
    max-width: 1200px; /* Adjust based on your preference */
}

.month-indicator {
  color: black; /* Keeping the theme consistent */
  font-weight: 1000;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  margin-top: 1px;
}


.day-of-week,
.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.day-of-week {
  margin-top: 2em;
}

.day-of-week {
  font-size: 10px; 
  color: black; 
  font-weight: 1000;
  letter-spacing: 0.1em;
  text-align: center;
}

.date-grid {
  margin-top: 0.5em;
}

.date-grid button:first-child {
  grid-column: 6;
}

.date-grid button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 35px;
  min-width: 30px;
  border-radius: 0;
  margin: 2px;
  background-color: white;
  transition: all 0.4s ease-in-out;
  border-radius: 3px;
  border: solid white 1px;
  
}

.date-grid button:hover,
.date-grid button:focus {
  outline-style: groove;
  background-color: black; 
  color: #FFFFFF; 
  cursor: pointer;
}

.date-grid button:active {
  background-color: white; 
  color: #FFFFFF;
}